div.card{
    
    min-width: 325px;
    width: auto;
    min-height: 540px;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}